# Dependencies
node_modules/
/backend/node_modules/
/frontend/node_modules/

# Environment Variables & Secrets
/backend/.env

# Local logs
*.log
/backend/logs/

# Editor / OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
